.AdMask {
  position: fixed;
  width: 100%;
  z-index: 100;
  bottom: 0;
  height: 222px;
  color: aqua;
  background: rgba(0,0,0);
}

@media screen and (max-height: 499px) {
  .AdMask {
    height: 122px;
  }
}
