.FullScreen {
  position: absolute;
  width: 100%;
  z-index: 100;
  top: 56%;
  height: calc(44% - 70px);
  color: aqua;
  background: rgba(0,0,0,0);
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.91) 35%, rgba(0,0,0,1) 41%, rgba(0,0,0,1) 49%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(35%, rgba(0,0,0,0.91)), color-stop(41%, rgba(0,0,0,1)), color-stop(49%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.91) 35%, rgba(0,0,0,1) 41%, rgba(0,0,0,1) 49%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.91) 35%, rgba(0,0,0,1) 41%, rgba(0,0,0,1) 49%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.91) 35%, rgba(0,0,0,1) 41%, rgba(0,0,0,1) 49%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.91) 35%, rgba(0,0,0,1) 41%, rgba(0,0,0,1) 49%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );}
