.Admin {
  padding: 1em;
}

.UserIdentifier {
  font-size: 20px;
  padding: 1em 0 1em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Playlists {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1em 0 1em 0;
  border: rgba(0, 0, 0, 0.055) solid 1px;
}

.PlaylistsTitle {
  font-size: 20px;
  text-align: left;
}

.Submit {
  display: flex;
  padding-top: 1em;
  justify-content: space-between;
}

.InputText {
  font-size: 13px;
  border: 1px solid rgba(71, 60, 60, 0.514);
  border-radius: 5px;
  padding: 6px 18px;
}

@media screen and (max-width: 699px) {
  .InputText {
    margin: 0.5em 0 0.5em 0;
  }
}

.BigButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

.BigButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}

.BigButton:active {
	position:relative;
	top:1px;
}

.smallButton {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.smallButton:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.smallButton:active {
	position:relative;
	top:1px;
}
