.Playlist {
  width: 100%;
  height: auto;
  background-color: #fff;
  bottom: 0px;
  flex-direction: row;
  overflow-y: scroll;
  display: flex;
  padding: 1em 0 1em 0;
}

.ListCell {
  color: #000;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  /* border-top: rgb(167, 160, 160) solid 2px;
  border-bottom: rgb(167, 160, 160) solid 2px; */
  width: 500px;
  height: auto;
  font-weight: 600;
}

.VideoTitle {
  background-color: white;
  color: black;
  font-weight: normal;
  padding-bottom: 1em;
}

.AppDescriptor {
  color: #000;
  font-family: cursive;
  text-align: left;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.AppTitle {
  font-size: 30px;
  padding: 1em 0 1em 0;
  font-family: sans-serif;
}

.AppDescriptor button {
  background-color: aliceblue;
  margin-left: 1em;
}

.UserIdentifier {
  display: flex;
  align-self: center;
  justify-content: flex-start;
  /* padding-bottom: 2em; */
}

.InputText {
  border-radius: 4px;
  padding: 12px;
}

.Button {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-weight:bold;
	text-decoration:none;
  text-shadow:0px 1px 0px #3d768a;
  margin-right: 0.2em;
}

.Button:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}

.Button:active {
	position:relative;
	top:1px;
}

@media screen and (min-width: 700px) {
  .AppTitle {
    font-size: 40px;
  }

  .UserIdentifierInput {
    padding: 0 2em 0 1em;
  }

  .AppDescriptor button {
    font-size: 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  .AppDescriptor input {
    font-size: 20px;
    border: none;
    padding: 15px 32px 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: darksalmon;
  }

  .Button {
    padding:13px 32px 13px 32px;
    font-size:20px;
  }
}

@media screen and (max-width: 699px) {
  .Playlist {
    height: auto;
    width: 100%;
    flex-direction: column;
  }

  .ListCell {
    width: 100%;
  }

  .UserIdentifier {
    display: flex;
    justify-content: flex-start;
  }

  .Button {
    font-size:12px;
    padding: 5px;
    align-self: center;
    margin-left: 5px;
  }

  .InputText {
    border-radius: 2px;
    padding: 2px;
  }

  .AppTitle {
    padding: 0 10px 0 0;
  }
}
