.Playlist {
  width: 100%;
  height: auto;
  background-color: #fff;
  bottom: 0px;
  flex-direction: row;
  overflow-y: scroll;
  display: flex;
  /* padding: 20px 0 0 0; */
}

.ListCell {
  margin: 0 1em 0 0;
  color: rgb(76, 71, 71);
  /* background-color: rgb(76, 71, 71); */
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  /* animation: slide-out .5s forwards;
  -webkit-animation: slide-out .5s forwards; */
}

.ActiveListCell {
  margin: 0 1em 0 0;
  color: rgb(76, 71, 71);
  /* outline-style: solid;
  outline-color: rgb(69, 127, 194);
  outline-width: 4px; */
  /* -webkit-box-shadow: 0px 0px 5px 10px rgba(75, 121, 219, 0.596);
  -moz-box-shadow: 0px 0px 5px 10px rgba(75, 121, 219, 0.596);
  box-shadow: 0px 0px 5px 10px rgba(75, 121, 219, 0.596); */
  /* background-color: rgb(76, 71, 71); */
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  /* animation: slide-out .5s forwards;
  -webkit-animation: slide-out .5s forwards; */
}

@keyframes slide-out {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

.Tiny {
  font-size: x-small;
  font-style: italic;
  color: #599bb3;
  font-weight: bold;
}

.VideoImage {
  padding: 0 0 0 0;
  width: 360px;
}

.VideoTitle {
  background-color: #fff;
  font-weight: normal;
  padding: 0 2px 1em 2px;
  display: flex;
  justify-content: space-between;
  width: calc(360px - 1em);
}

.TopBar {
  color: #000;
  background-color: #fff;
  font-family: cursive;
  text-align: left;
  padding: 1.5em 0.5em 1.5em 0.5em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.AppTitle {
  font-size: 30px;
  /* padding: 1em 0 1em 0; */
  font-family: sans-serif;
}

.TopBar button {
  /* background-color: aliceblue; */
  margin-left: 1em;
}

.UserIdentifier {
  display: flex;
  align-self: center;
  justify-content: flex-start;
}

.InputText {
  border-radius: 4px;
  padding: 12px;
  border: 1px solid rgba(71, 60, 60, 0.514);
  background-color: #8da5e896;
  color: #525252;
  border: none;
}

.Button {
  box-shadow: 0px 10px 8px -8px #276873;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 8px;
  /* border: rgba(94, 92, 92, 0.397) 1px solid; */
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
  margin-right: 0.2em;
}

.Button:hover {
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color: #408c99;
}

.Button:active {
  position: relative;
  top: 1px;
}

.YoutubeLogo {
  height: 30px;
  vertical-align: bottom;
  padding-bottom: 9px;
}

.PublishedAt {
  align-self: flex-start;
  color: rgb(124, 122, 122);
  font-size: small;
  padding-top: 2px;
}

@media screen and (min-width: 700px) {
  .Playlist {
    padding-left: 0em;
  }
  .Tiny {
    font-size: large;
  }
  .AppTitle {
    font-size: 40px;
  }
  .UserIdentifierInput {
    padding: 0 1em 0 1em;
    align-self: center;
  }
  .InputText {
    font-size: 18px;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  .Button {
    padding: 15px 20px 15px 20px;
    font-size: 20px;
  }
}

@media screen and (max-width: 399px) {
  .Tiny {
    display: none;
  }
  .LogoTitle {
    display: none;
  }
}

@media screen and (max-width: 699px) {
  .Playlist {
    height: auto;
    width: 100%;
    flex-direction: column;
  }
  .ListCell {
    width: 100%;
  }
  .ActiveListCell {
    width: 100%;
  }
  .UserIdentifier {
    display: flex;
    justify-content: flex-start;
    align-self: center;
  }
  .Button {
    font-size: 12px;
    padding: 5px;
    align-self: center;
    margin-left: 5px;
  }
  .InputText {
    border-radius: 2px;
    padding: 5px;
  }
  .AppTitle {
    padding: 4px 10px 0 0;
    font-size: larger;
  }
  .YoutubeLogo {
    height: 20px;
    padding-bottom: 2px;
  }
  .VideoImage {
    padding: 0 0 0 0;
    width: 100%;
    align-self: center;
  }
}

@media screen and (min-width: 1280px) {
  .TopBar {
    color: #fff;
    background-color: #000;
  }
  .Playlist {
    background-color: #000;
    margin-top: 22px;
  }
  .VideoImage {
    width: 500px;
  }
  .ListCell {
    cursor: none;
    background-color: rgb(76, 71, 71);
    border: rgb(111, 111, 111) solid 1px;
    color: #aaa;
  }
  .ActiveListCell {
    cursor: none;
    border: rgb(255, 255, 255) solid 2px;
    color: #fff;
    background-color: rgb(76, 71, 71);
    /* -webkit-box-shadow: 0px 0px 5px 10px rgb(226, 226, 226);
    -moz-box-shadow: 0px 0px 5px 10px rgb(226, 226, 226);
    box-shadow: 0px 0px 5px 10px rgb(226, 226, 226); */
  }
  input:focus {
    /* -webkit-box-shadow: 0px 0px 5px 10px rgb(226, 226, 226);
    -moz-box-shadow: 0px 0px 5px 10px rgb(226, 226, 226);
    box-shadow: 0px 0px 5px 10px rgb(226, 226, 226); */
    border: rgb(255, 255, 255) solid 1px;
  }
  .VideoTitle {
    font-size: large;
    background-color: rgb(76, 71, 71);
    width: calc(500px - 1em);
  }
  .InputText {
    color: #222222;
  }
}
