.Playlist {
  width: 100%;
  height: auto;
  background-color: #fff;
  bottom: 0px;
  flex-direction: row;
  overflow-y: scroll;
  display: flex;
  padding: 20px 0 1em 0;
}

.ListCell {
  margin: 0 1em 0 0;
  color: #000;
  background-color: rgb(76, 71, 71);
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 376px;
  font-weight: 600;
  animation: slide-out .5s forwards;
  -webkit-animation: slide-out .5s forwards;
}

.ActiveListCell {
  margin: 0 1em 0 0;
  color: #000;
  /* outline-style: solid;
  outline-color: rgb(69, 127, 194);
  outline-width: 4px; */
  -webkit-box-shadow: 0px 0px 5px 10px rgba(75, 121, 219, 0.596);
  -moz-box-shadow: 0px 0px 5px 10px rgba(75, 121, 219, 0.596);
  box-shadow: 0px 0px 5px 10px rgba(75, 121, 219, 0.596);
  background-color: rgb(76, 71, 71);
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 376px;
  font-weight: 600;
  animation: slide-out .5s forwards;
  -webkit-animation: slide-out .5s forwards;
}

@keyframes slide-out {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0%); }
}

@-webkit-keyframes slide-out {
  0% { -webkit-transform: translateY(-100%); }
  100% { -webkit-transform: translateY(0%); }
}

.VideoImage {
  padding: 0 0 0 0;
  width: 360px;
}

.VideoTitle {
  color: #fff;
  font-weight: normal;
  padding-bottom: 1em;
}

.TopBar {
  color: #000;
  background-color: #fff;
  font-family: cursive;
  text-align: left;
  padding: 1.5em 0.5em 1.5em 0.5em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.AppTitle {
  font-size: 30px;
  /* padding: 1em 0 1em 0; */
  font-family: sans-serif;
}

.TopBar button {
  background-color: aliceblue;
  margin-left: 1em;
}

.UserIdentifier {
  display: flex;
  align-self: center;
  justify-content: flex-start;
}

.InputText {
  border-radius: 4px;
  padding: 12px;
  border: 1px solid rgba(71, 60, 60, 0.514);
  background-color: #8da5e896;;
  border: none;
}

.Button {
	box-shadow: 0px 10px 8px -8px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-weight:bold;
	text-decoration:none;
  text-shadow:0px 1px 0px #3d768a;
  margin-right: 0.2em;
}

.Button:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}

.Button:active {
	position:relative;
	top:1px;
}

.YoutubeLogo {
  height: 30px;
  vertical-align: bottom;
  padding-bottom: 9px;
}

@media screen and (min-width: 700px) {
  .AppTitle {
    font-size: 40px;
  }

  .UserIdentifierInput {
    padding: 0 2em 0 1em;
  }

  .InputText {
    font-size: 20px;
    padding: 15px 20px 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  .Button {
    padding:15px 20px 15px 20px;
    font-size:20px;
  }
}

@media screen and (max-width: 699px) {
  .Playlist {
    height: auto;
    width: 100%;
    flex-direction: column;
  }

  .ListCell {
    width: 100%;
  }

  .UserIdentifier {
    display: flex;
    justify-content: flex-start;
  }

  .Button {
    font-size:12px;
    padding: 5px;
    align-self: center;
    margin-left: 5px;
  }

  .InputText {
    border-radius: 2px;
    padding: 2px;
  }

  .AppTitle {
    padding: 4px 10px 0 0;
    font-size: larger;
  }

  .YoutubeLogo {
    height: 20px;
    padding-bottom: 2px;
  }

  .VideoImage {
    padding: 0 0 0 0;
    width: 100%;
    align-self: center;
  }

}
