.BackBarShort {
  position: fixed;
  width: 100%;
  height: 1px;
  background-color: #000;
  top: 0px;
  display: flex;
  line-height: initial;
  justify-content: space-between;
  z-index: 500;

  -moz-transition: height .5s;
  -ms-transition: height .5s;
  -o-transition: height .5s;
  -webkit-transition: height .5s;
  transition: height .5s;
  overflow: hidden;
}

.BackBarTall {
  position: fixed;
  width: 100%;
  height: 222px;
  background-color: #000;
  top: 0px;
  display: flex;
  line-height: initial;
  justify-content: space-between;
  z-index: 500;
  -moz-transition: height .5s;
  -ms-transition: height .5s;
  -o-transition: height .5s;
  -webkit-transition: height .5s;
  transition: height .5s;
  overflow: hidden;
}

.Button {
  width: 90px;
  height: 40px;
  background-color: #2b2f2e;
  position: relative;
  margin-left: 33px;
  border-radius: 5px;
  margin-top: 17px;
  cursor: pointer;
}

.Button:before {
  content: "";
  position: absolute;
  top: 0;
  left: -17px;
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent #2b2f2e transparent transparent;
}

.Button > span {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font: bold 18px/40px Sans-Serif;
}

.Button:hover {
  background-color: rgb(58, 64, 66);
}

.Button:hover:before {
  border-right-color: rgb(58, 64, 66);
}

.Title {
  font-size: large;
  color: #fff;
  padding: 24px 17px;
}

@media screen and (max-width: 699px) {
  .Button {
    width: 40px;
    height: 20px;
  }
  .Button > span {
    font: bold 12px/22px Sans-Serif;
  }
  .Button:before {
    border-width: 10px 10px 10px 0;
    left: -8px;
  }
  .Title {
    font-size: medium;
  }
}

@media screen and (max-height: 499px) {
  .BackBarTall {
    height: 72px;
  }
}
