.Playback {
  background-color: #000;
  /* position: relative; */
}

.YouTube {
  vertical-align: middle;
}

.AppDescriptor {
  color: #fff;
  font-family: cursive;
}

.AppTitle {
  font-size: 30px;
  padding: 4em 0 1em 0;
}

.AppDescriptor button {
  background-color: aliceblue;
  margin-left: 1em;
}

@media screen and (min-width: 500px) {
  .AppTitle {
    font-size: 40px;
  }

  .AppDescriptor button {
    font-size: 20px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  .AppDescriptor input {
    font-size: 20px;
    border: none;
    padding: 15px 32px 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
}
