.TopMask {
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 100;
  top: 0;
  left: 0;
  color: aqua;
  background: rgba(0, 0, 0, 0);
}

.TopMaskTall {
  position: fixed;
  width: 100%;
  height: 222px;
  z-index: 100;
  top: 0;
  left: 0;
  color: aqua;
  background: rgba(0, 0, 0, 0);
}

@media screen and (max-height: 499px) {
  .TopMaskTall {
    height: 122px;
  }
}
